<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openquartz.glassmemo">

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <service
            android:name="com.openquartz.glassmemo.ViewMemoService"
            android:exported="true"
            android:label="View memo">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_memo" />
        </service>

        <activity
            android:name="com.openquartz.glassmemo.VoiceToSpeechActivity"
            android:exported="true"
            android:label="Create memo">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_memo" />
        </activity>
        <activity
            android:name="com.openquartz.glassmemo.MemoScrollActivity"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name="com.openquartz.glassmemo.ViewMemoMenuActivity"
            android:exported="false"
            android:theme="@style/MenuTheme"/>
        <activity
            android:name="com.openquartz.glassmemo.ViewMemoMenuActivityNoMemos"
            android:exported="false"
            android:theme="@style/MenuTheme"/>
        <activity
            android:name="com.openquartz.glassmemo.MemoScrollMenuActivity"
            android:exported="false"
            android:theme="@style/MenuTheme"/>
    </application>

</manifest>
