name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  android:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 17

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.1.3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.3.0
        with:
          gradle-home-cache-cleanup: true
      - run: ./gradlew --version

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3.3.0

      - name: Setup Java ${{ matrix.java-version }}
        uses: actions/setup-java@v4.2.1
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.1

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.1.0

      - name: Build APK
        run: ./gradlew assembleDebug -s

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4.3.1
        if: always()
        with:
          name: open-quartz-${{ github.workflow }}-${{ github.run_id }}
          path: |
            gdk/location/build/outputs
            gdk/camera-app/build/outputs
            gdk/glass-memo/build/outputs
            gdk/hello-glass/build/outputs
            gdk/voice-example/build/outputs
            sdk/camera-preview/build/outputs
          if-no-files-found: warn

